<div class="col-md-8 m-auto">
   <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
         <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <p>
               <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input
                     #userName="ngModel"
                     [(ngModel)]="loginModel.userName"
                     id="userName"
                     matInput
                     name="userName"
                     placeholder="Enter your username"
                     required
                     type="text"
                  />
                  <mat-error>Username is <b>required</b></mat-error>
               </mat-form-field>
            </p>

            <p>
               <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                     #password="ngModel"
                     [(ngModel)]="loginModel.password"
                     autocomplete="on"
                     id="password"
                     matInput
                     name="password"
                     placeholder="Enter your password"
                     required
                     type="password"
                  />
                  <mat-error>Password is <b>required</b></mat-error>
               </mat-form-field>
            </p>

            <p *ngIf="isError" class="error">User name or password is <b>invalid</b>.</p>

            <div class="button">
               <button mat-raised-button type="submit">Login</button>
            </div>
         </form>
      </mat-card-content>
   </mat-card>
</div>
