<form #f="ngForm">
   <div class="form-group">
      <mat-form-field appearance="outline">
         <mat-label>Product Name</mat-label>
         <input
            name="productName"
            type="text"
            matInput
            placeholder="Enter product's name"
            required
            [(ngModel)]="transaction.name"
         />
         <mat-error>Product's name is <b>required</b></mat-error>
      </mat-form-field>
   </div>

   <div class="form-group">
      <mat-form-field appearance="outline">
         <mat-label>Amount</mat-label>
         <input
            name="productAmount"
            type="number"
            matInput
            placeholder="Enter product's amount"
            required
            [(ngModel)]="transaction.amount"
         />
         <mat-error>Product's amount is <b>required</b></mat-error>
      </mat-form-field>
   </div>
   <div class="row">
      <div class="btn-group">
         <button class="btn btn-primary" type="submit">Save</button>

         <button class="btn btn-info" type="submit">Save & Print</button>

         <button class="btn btn-danger" type="button">Reset</button>
      </div>
   </div>
</form>
